table
  table-layout: fixed

  td
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .actions
    padding: 0
    text-align: center
    vertical-align: middle

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.cursor-pointer
  cursor: pointer

hr
  margin-top: 20px
  margin-bottom: 20px

.hljs
  background: none !important

.force-select-all
  -webkit-user-select: all
  user-select: all